<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your contribution!</h1>
    <p>Your picture will live on our server forever. Or at least until the database is reset or lost.</p>
  </body>
</html>
